#container_joblist{
    width: 50%;
    left: 25%;
    position: relative;
}

.container_job {
    display: flex;
    align-items: center;
}

.container_jobinfo {
    width: 80%;
}

span {
    color: black;
    width: 24px;
    height: 24px;
}

span.icon-star.active{
    background-color: yellow;
}