h2 {
    text-align: center;
}

#container_favoriteJoblist {
    width: 50%;
    left: 25%;
    position: relative;
}

#container_favoriteJob {
    display: flex;
    align-items: center;
}

.container_favorite-jobinfo {
    width: 80%;
}

/* 
#container_joblist{
    width: 50%;
    left: 25%;
    position: relative;
}

.container_job {
    display: flex;
    align-items: center;
}

.container_jobinfo {
    width: 80%;
} */